@use '@angular/material' as mat;

:host {
  @include mat.list-overrides((
    list-item-focus-state-layer-opacity: 0,
  ));

  #content {
    display: grid;
    grid-gap: 16px;

    .score-block-container {
      display: flex;
      flex-direction: column;

      .score-block-label {
        font: var(--mat-sys-label-small);
        text-align: center;
      }

      .score-block {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 8px;
        align-items: center;
        padding: 2px 8px;
        box-sizing: border-box;

        .score {
          text-align: center;
          font: var(--mat-sys-headline-medium);
        }
      }
    }
  }
}
