:host {
  mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  mat-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
}
