<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Squash stats 🎾</span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="newSession()">New session</button>
  <mat-divider></mat-divider>
  <button mat-menu-item disabled>version {{ version }}</button>
</mat-menu>

<mat-tab-group (selectedIndexChange)="tabChange($event)" [selectedIndex]="selectedTabIndex()">
  <mat-tab [label]="playersTabLabel()">
    <div class="tab-content players">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Session name</mat-label>
        <input matInput [formControl]="sessionNameControl">
      </mat-form-field>

      <div id="add-new-player">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Player name</mat-label>
          <input matInput [formControl]="newPlayerControl" (keyup.enter)="addPlayer()">
        </mat-form-field>

        <button mat-button [disabled]="!newPlayerControl.value" (click)="addPlayer()">Add player</button>
      </div>

      <mat-list>
        @for (player of players(); track player.id()) {
          <mat-list-item>
            <span matListItemTitle>{{ $index + 1 }}. {{ player.name() }}</span>

            <button mat-icon-button (click)="removePlayer(player)" matListItemMeta>
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>

          @if (!$last) {
            <mat-divider></mat-divider>
          }
        }
      </mat-list>
    </div>
  </mat-tab>

  <mat-tab [label]="roundsTabLabel()" [disabled]="insufficientPlayers()">
    <div class="tab-content rounds">
      @if (!rounds().length) {
        <button matButton="tonal" (click)="selectStartingOrder()">Select starting order</button>
      }

      <button mat-flat-button (click)="addRound()">Add round</button>

      <app-rounds-list [rounds]="rounds()"/>
    </div>
  </mat-tab>

  <mat-tab label="Matchups" [disabled]="insufficientPlayers()">
    <div class="tab-content matchups">
      <mat-form-field id="match-select">
        <mat-label>Matchup</mat-label>
        <mat-select [(ngModel)]="selectedMatchup">
          @for (matchup of matchups(); track matchup.id) {
            <mat-option [value]="matchup">{{ matchup.player1.name() }} — {{ matchup.player2.name() }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @let matchup = selectedMatchup();
      @if (matchup) {
        <div id="matchup-details">
          <span class="player1 name">{{ matchup.player1.name() }}</span>
          <span class="player1 wins">{{ matchup.player1Wins() }}</span>
          <span class="versus">vs.</span>
          <span class="player2 name">{{ matchup.player2.name() }}</span>
          <span class="player2 wins">{{ matchup.player2Wins() }}</span>
        </div>

        <app-rounds-list [rounds]="matchup.rounds()"/>
      } @else {
        <p>Please select a matchup to see details.</p>
      }
    </div>
  </mat-tab>


  <mat-tab label="Statistics" [disabled]="insufficientPlayers()">
    <div class="tab-content stats">
      <table [class.default-sort]="isDefaultSort() && rounds().length" mat-table [dataSource]="dataSource()" matSort (matSortChange)="sortStats($event)">

        <ng-container matColumnDef="player" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header="player">Player</th>
          <td mat-cell *matCellDef="let item">
            <span> {{ item.player.name() }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="matches">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="matches" arrowPosition="before">Matches</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.matches.formatted }}</td>
        </ng-container>

        <ng-container matColumnDef="wins">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="wins" arrowPosition="before">Wins</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.wins.formatted }}</td>
        </ng-container>

        <ng-container matColumnDef="winRate">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="winRate" arrowPosition="before">Win rate</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.winRate.formatted }}</td>
        </ng-container>

        <ng-container matColumnDef="points">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="points" arrowPosition="before">Points</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.points.formatted }}</td>
        </ng-container>

        <ng-container matColumnDef="diff">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="diff" arrowPosition="before">Diff</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.diff.formatted }}</td>
        </ng-container>

        <ng-container matColumnDef="pointsPerMatch">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="pointsPerMatch" arrowPosition="before">PPM</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.pointsPerMatch.formatted }}</td>
        </ng-container>

        <ng-container matColumnDef="pointsPerWin">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="pointsPerWin" arrowPosition="before">PPW</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.pointsPerWin.formatted }}</td>
        </ng-container>

        <ng-container matColumnDef="pointsPerLoss">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="pointsPerLoss" arrowPosition="before">PPL</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.pointsPerLoss.formatted }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="statsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: statsColumns;"></tr>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="Sessions">
    <div class="tab-content sessions">
      <mat-accordion>

        @for (session of sessions(); track session.key) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{ session.name() || session.key }}</mat-panel-title>
            </mat-expansion-panel-header>

            <p>This is the primary content of the panel.</p>

            <mat-action-row>
              <button mat-button>Load session</button>
            </mat-action-row>
          </mat-expansion-panel>
        }

      </mat-accordion>
    </div>
  </mat-tab>
</mat-tab-group>
