<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Squash stats 🎾</span>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="newSession()">New session</button>
</mat-menu>

<mat-tab-group>
  <mat-tab [label]="playersTabLabel()">
    <div class="tab-content players">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Session name</mat-label>
        <input matInput [formControl]="sessionNameControl">
      </mat-form-field>

      <div id="add-new-player">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>Player name</mat-label>
          <input matInput [formControl]="newPlayerControl" (keyup.enter)="addPlayer()">
        </mat-form-field>

        <button mat-button [disabled]="!newPlayerControl.value" (click)="addPlayer()">Add player</button>
      </div>

      <mat-list>
        @for (player of players(); track player.id) {
          <mat-list-item>
            <span matListItemTitle >{{ $index + 1 }}. {{ player.name() }}</span>

            <button mat-icon-button (click)="removePlayer(player)" matListItemMeta>
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>

          @if (!$last) {
            <mat-divider></mat-divider>
          }
        }
      </mat-list>
    </div>
  </mat-tab>

  <mat-tab [label]="roundsTabLabel()" [disabled]="insufficientPlayers()">
    <div class="tab-content rounds">
      <button mat-flat-button (click)="addRound()">Add round</button>

      <div id="rounds-list">
        @for (round of rounds(); track round.createdAt) {
          <div class="round">
            <span class="players">
              @for (player of round.players; track player.player.id) {
                <span>{{ player.player.name() }}</span>

                @if (!$last) {
                  <span> vs </span>
                }
              }
             </span>

            <span class="score">
                @for (player of round.players; track player.player.id) {
                  <span>{{ player.score }}</span>

                  @if (!$last) {
                    <span> — </span>
                  }
                }
             </span>

            <div class="time">{{ round.createdAtTimeString() }}</div>
          </div>


          @if (!$last) {
            <mat-divider></mat-divider>
          }
        }
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Statistics" [disabled]="insufficientPlayers()">
    <div class="tab-content stats">
      <table mat-table [dataSource]="dataSource()" matSort (matSortChange)="sortStats($event)">

        <ng-container matColumnDef="player" sticky>
          <th mat-header-cell *matHeaderCellDef mat-sort-header="player">Player</th>
          <td mat-cell *matCellDef="let item"> {{ item.player.name() }}</td>
        </ng-container>

        <ng-container matColumnDef="matches">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="matches">Matches</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.matches }}</td>
        </ng-container>

        <ng-container matColumnDef="wins">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="wins">Wins</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.wins }}</td>
        </ng-container>

        <ng-container matColumnDef="winRate">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="winRate">Win rate</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.winRate }}</td>
        </ng-container>

        <ng-container matColumnDef="points">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="points">Points</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.points }}</td>
        </ng-container>

        <ng-container matColumnDef="pointsPerMatch">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="pointsPerMatch">PPM</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.pointsPerMatch }}</td>
        </ng-container>

        <ng-container matColumnDef="pointsPerWin">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="pointsPerWin">PPW</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.pointsPerWin }}</td>
        </ng-container>

        <ng-container matColumnDef="pointsPerLoss">
          <th class="number-cell" mat-header-cell *matHeaderCellDef mat-sort-header="pointsPerLoss">PPL</th>
          <td class="number-cell" mat-cell *matCellDef="let item"> {{ item.pointsPerLoss }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="statsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: statsColumns;"></tr>
      </table>
    </div>
  </mat-tab>

  <mat-tab label="Sessions">
    <div class="tab-content sessions">
      <mat-accordion>

        @for (session of sessions(); track session.key) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{session.name() || session.key}}</mat-panel-title>
            </mat-expansion-panel-header>

            <p>This is the primary content of the panel.</p>

            <mat-action-row>
              <button mat-button (click)="loadSession(session.key)">Load session</button>
            </mat-action-row>
          </mat-expansion-panel>
        }

      </mat-accordion>
    </div>
  </mat-tab>
</mat-tab-group>
