@use '@angular/material' as mat;

:host {
  ::ng-deep .mat-mdc-tab-body-content {
    display: grid;

    .tab-content {
      max-width: 1000px;
      justify-self: center;
      width: 100%;
      padding: 16px;
      box-sizing: border-box;

      &.players {
        display: grid;
        gap: 16px;

        #add-new-player {
          display: grid;
          grid-template-columns: 1fr auto;
          align-items: center;
          gap: 16px;
        }
      }

      &.rounds {
        display: grid;
        gap: 16px;
      }

      &.stats {
        padding: 0;

        table {
          &.default-sort {
            tr:nth-child(1) {
              td:first-child {
                border-left-color: gold;

                span {
                  position: relative;

                  &:before {
                    content: '👑';
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate3d(-45%, -50%, 0) rotate(332deg);
                    font-size: 15px;
                  }
                }
              }
            }

            tr:nth-child(2) {
              td:first-child {
                border-left-color: silver;
              }
            }

            tr:nth-child(3) {
              td:first-child {
                border-left-color: #CD7F32;
              }
            }
          }

          th, td {
            &:first-child {
              border-left: 4px solid transparent;
            }
          }

          thead {
            user-select: none;

            th {
              white-space: nowrap;
            }
          }
        }

        .number-cell {
          text-align: right;
        }
      }

      &.matchups {
        display: grid;
        grid-gap: 24px;

        #match-select {
          width: 100%
        }

        #matchup-details {
          display: grid;
          grid-template-areas: 'player1name versus player2name'
          'player1wins versus player2wins';
          align-items: center;
          justify-content: center;
          column-gap: 32px;
          row-gap: 4px;

          .wins {
            font: var(--mat-sys-display-large);
          }

          .player1.name {
            grid-area: player1name;
            font: var(--mat-sys-label-medium);
            opacity: 0.8;
            text-align: right;
          }

          .player2.name {
            grid-area: player2name;
            font: var(--mat-sys-label-medium);
            opacity: 0.8;
          }

          .player1.wins {
            grid-area: player1wins;
            text-align: right;
          }

          .player2.wins {
            grid-area: player2wins;
          }

          .versus {
            grid-area: versus;
            font: var(--mat-sys-headline-small);
          }
        }
      }
    }
  }
}
